In [3]:
import scipy.stats
import numpy as np
import pandas as pd
import datetime

from matplotlib import pyplot as plt
from matplotlib.pyplot import figure
import matplotlib.dates as mdates


%matplotlib inline

In [5]:

columns = ['category', 'sentiment', 'match', 'text']
dir_data = '../data/'
en_q1_matches = pd.read_csv(dir_data + 'en_q1.csv', names=columns)
en_q2_matches = pd.read_csv(dir_data + 'en_q2.csv', names=columns)
en_q3_matches = pd.read_csv(dir_data + 'en_q3.csv', names=columns)
es_matches = pd.read_csv(dir_data + 'es.csv', names=columns)

en_q1_matches.head()

,category,sentiment,match,text
0,16,n,lifts and the rooms need to be renovated,Cons:- I think the lifts and the rooms need to...
1,244,n,lifts and the rooms need to be renovated,Cons:- I think the lifts and the rooms need to...
2,15,p,Concierge staffs were friendly and attentive,Concierge staffs were friendly and attentive.
3,11,n,can't adjust the aircon,The aircon was too cold and we can't adjust th...
4,14,p,location makes it one of the most popular,Even though the rooms and the bathrooms are sm...

In [6]:
frames = [en_q1_matches, en_q2_matches, en_q3_matches]
en_matches = pd.concat(frames)

en_matches['category'].value_counts()

15     16695
11     13451
16     12010
13      7924
14      5541
244     4812
111     4369
333     4114
171     4055
63      1787
22      1726
201     1202
12       860
21       848
18       245
444       73
36        20
Name: category, dtype: int64

In [7]:
en_matches['sentiment'].value_counts()

p    67881
n     9797
o     2054
Name: sentiment, dtype: int64

In [10]:
es_matches['category'].value_counts()

15     7176
16     6333
11     5600
13     3630
14     3217
111    2419
244    2375
171    1728
333    1520
22      813
63      638
201     527
12      466
21      152
18      115
36       14
444       6
Name: category, dtype: int64

In [16]:
en_matches.groupby(['category','sentiment']).size()

category  sentiment
11        n             3137
          o              472
          p             9842
12        n               42
          o               19
          p              799
13        n              764
          o              308
          p             6852
14        n              260
          o               94
          p             5187
15        n             1039
          o              197
          p            15459
16        n             1007
          o              236
          p            10767
18        n               97
          o                8
          p              140
21        n              104
          o               29
          p              715
22        n              349
          o               83
          p             1294
36        n                3
          o                2
          p               15
63        n              229
          o               51
          p             1507
111       n              899
          o              172
          p             3298
171       n              472
          o              123
          p             3460
201       n              131
          o               51
          p             1020
244       n              745
          o              167
          p             3900
333       n              518
          o               40
          p             3556
444       n                1
          o                2
          p               70
dtype: int64

In [15]:
es_matches.groupby(['category','sentiment']).size()

category  sentiment
11        n            1542
          o             264
          p            3794
12        n              12
          o               6
          p             448
13        n             342
          o             182
          p            3106
14        n             198
          o              49
          p            2970
15        n             459
          o             101
          p            6616
16        n             472
          o             111
          p            5750
18        n              52
          o               5
          p              58
21        n              14
          o               4
          p             134
22        n             153
          o              41
          p             619
36        n               2
          p              12
63        n             121
          o              14
          p             503
111       n             587
          o             119
          p            1713
171       n             204
          o              59
          p            1465
201       n              61
          o               7
          p             459
244       n             362
          o              63
          p            1950
333       n             237
          o              23
          p            1260
444       n               3
          p               3
dtype: int64